body

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
       
      
}


.icons{
    min-width: 25px;
    height: 25px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
}
.sep{
    display: flex;
    column-gap: 15px;
}
.NavLinks2{
    background-color: navy;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: -60px;
}
.NavLink{
    display: flex;
}
.s {
    font-size: smaller;
    color: #d8d3d3;
    padding: 7px;
    margin-top: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.logo{
    margin-top: 28px;
   width: 65px;
   height: 65px;
   border-radius: 50%;
}
.LogoContainer  {
    display: flex;
    padding: 10px;
    column-gap: 15px;
    
    
}
h2{
    color: white;
   font-size: 15px;
   margin-top: 24px;
}
.NavContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color:black ;
}

.NavLinks,li, .k .w .e{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    font-size: large;
    
    
}

.y{
    border-left: 1px solid #ddd;  /* Adds the vertical line */
    margin-right: 5px;     /* Space between items */
    height: 40px;
}
.m{
    border-left: 1px solid #ddd;  /* Adds the vertical line */
    margin-right: 10px;     /* Space between items */
    height: 20px;
    padding: 5px 0;
}
.r {
    background-color: navy;
    padding: 10px;
    height: 18px;
    width: 130px;
    border-radius: 8px;
    font-size: medium;
    display: flex;
    align-items: center;    /* Vertically centers the text */
    justify-content: center; /* Horizontally centers the text */
    text-align: center;      /* Ensures the text is centered */
    
}
a{
    text-decoration: none;
    color: white;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0rem;
    top: 25px;
    height: 0;
    width: 180px;
    background-color: black;
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.dropdown_menu.open{
    height: 204px;
}
.dropdown_menu li{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MenueToggle{
    display: none;
    cursor: pointer;
}
/***************banner styling************/

.banner{
    width: 100%;
    height: 600px;
    margin-top: -5%;
}
.icons_z{
    min-width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
}
 
/***************banner2 styling************/

.banner2{
    width: 100%;
    height: 400px;
    
}
/***************about us styling************/

section{
    margin-top: 5%;
}


/***************services styling************/

.OurServices{
  margin: 0 auto;
  box-sizing: border-box;
  box-sizing: border-box;
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 40px;
  
}
.serviceP{
    display: none;
}
.serviceimg{
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
    margin: auto;
    width: 100%;
}
#drop{
  font-size: 9px;
  cursor: pointer;
   
}

/***************join_btn styling************/
.Join{
    color: white;
    background-color: navy;
    border: none;
    padding: 9px 4px;
    font-size: 17px;
    width: 120px;
    box-shadow: black 1px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.join_btn{
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicP{
    margin: 7px;
    text-align: start;
    display: none;
    font-size: 12px;
}
.ServiceContainer{
   margin-top: 50%;
    text-align: center;
    margin:auto;
    background: whitesmoke;
    box-shadow: black 4px 4px 4px;
    width: 60%;
    border-radius: 18px;

}

.hire_sec{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 4%;
    justify-content: space-around;
}

.hire_us_container{
    box-sizing: border-box;
    width: 20%;
    margin-top: -200px;
    padding: 3.5px;
    align-items: center;
    text-align: center;
    color:  navy;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: black 3px 3px 3px; 
  }
  .hire_us_container2{
    box-sizing: border-box;
    width: 20%;
    margin-top: -200px;
    padding: 3.5px;
    align-items: center;
    text-align: center;
    color: white;
    background-color: navy;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: black 3px 3px 3px; 
  }

.hire_img{
    margin: 0 auto;
    height: 80px;
    width:80px;
    border-radius: 100%;
}


/***************background styling************/
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50PX;
    margin: auto;
    width: 85%;
    
    
}
.kas{
    font-size: x-large;
    text-align: center;
    margin-top: -132PX;
    color:navy ;
}
.b_img{
    
    margin-top: 50px;
    height: 15cm;
    width: 12cm;
}
.b_story{
    padding: 10px;
    text-align: center;
    
    margin-top: 160PX;
}
.parameter{
    text-align: center;
   font-size: 17px;
}
.advoc{
    font-size: 18px;
    color: navy;
}

.importace{
    text-align: center;
    margin: auto;
    width: 80%;
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.advoc_co{
    width: 40%;
    border: 1px solid navy;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 1px 1px 1px black;
}
.voces{
    margin: auto;
    width: 80%;
    height: 6cm;
}
.sty{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 40%;
    font-weight: bold;

}
/***************leadership styling************/
.leader{
 text-align: center;
 color: navy;
}
.title{
    text-align: center;

}


.L_imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;                 /* Full width container */
}
.lmg{
    width: 8cm;                 /* Set consistent size */
    height: 8cm;
}



/***************footer styling************/
.quicks{
    background: navy;
    color: rgb(236, 226, 226);
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.tol{
    border-bottom: 0.8px solid #ddd;
    width: 1.5cm;
    margin-top: -13px;
}
footer{
    background: rgb(128, 54, 212);
    color: rgb(236, 226, 226);
    font-size: 13px;
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    
   
}
.foot{
    text-align: center;
    margin-top: 10px;
}
.z{
    border-left: 1px solid #ddd;  /* Adds the vertical line */
    margin-right: 5px;     /* Space between items */
    margin-left: 5px;
    height: 25px;
}


/***************feed page styling************/

.fee{
    padding: 5px;
    background-color: navy;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.fe{
    text-align: center;
    font-size: larger;
}


/***************contact us page styling************/ 
.contact{
    padding: 40px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('media/mg.jpg!bw700');
    background-size: cover;
}

.contact .contact_container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
        
}
.contact_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.box{
    padding: 20px 0;
    display: flex;
}
.icon{
    min-width: 60px;
    height: 60px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: #d3d1d1 2px 2px 2px;
    flex-direction: column;
}


.font_head{
   font-size: 19px;
    color: navy;
}

.contact_form{
    width: 60%;
    padding: 40px;
    background: gainsboro;
}
.input_box{
    width: 100%;
    margin-top: 10px;
}
 .contact_form_fields{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    resize: none;
 }
 
 input[type="submit"]{
    width: 100px;
    background: navy;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
 }



/***************memership us page styling************/
header{
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    color: navy;
} 
 .contact_input{
    width: 100%;
    padding: 5px ;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
 }

 .input_boxes{
    display: flex;
 }


 /*************** structure page styling************/

 .advoc_taim{
    align-items: center;
    margin: auto;
    width: 17%;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
 }
 .advocs{
    font-size: 15px;
    color: black;
}

.advoc_cos{
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    
}
 .advoc_taim2{
    align-items: center;
    margin: auto;
    width: 60%;
    justify-content: center;
    text-align: center;
    display: flex;
    column-gap: 90px;
    margin-bottom: 30px;
 }
 
.advoc_cos2{
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    width: 30%;  
}
.advoc_taim3{
    align-items: center;
    margin: auto;
    width: 80%;
    justify-content: center;
    text-align: center;
    display: flex;
    column-gap: 80px;
    margin-bottom: 30px;
 }
 
.advoc_cos3{
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    width: 50%;  
}
.vocess{
    margin: auto;
    width: 100%;
    height: 4cm;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}